:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-backgr-color: #ffffff;
  --special-backgr-color: #2f303a;
  --portfolio-backgr-color: #f5f4fa;
  --link-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-backgr-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.btn {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  min-width: 200px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work-title,
.team__title,
.clients__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .work-title,
.team__title,
.clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.menu-mob {
  position: fixed;
  background-color: var(--main-backgr-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .menu-mob {
    display: none;
  }
}

.menu-mob__conteiner {
  padding: 10px 15px 48px 40px;
}

.menu-close-btn {
  display: block;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: auto;
}

.menu-mob__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu-mob__item:not(:last-child),
.contacts-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob__link {
  color: var(--title-text-color);
}

.current {
  color: var(--accent-color);
}

.contacts-mob {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts-mob__link {
  color: var(--primary-text-color);
}

.contacts-mob__tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

.socials-list {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.socials-list__link {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.nav__menu {
  margin-left: 93px;
}

.menu__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.hader__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo--color-dark {
  color: #000000;
}

.menu,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__link {
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.menu__link--current-color {
  position: relative;
  color: var(--accent-color);
}
.menu__link--current-color::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(1px);
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-btn {
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--special-backgr-color);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;
  color: var(--second-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: calc((100% - 90px) / 4);
  }
}

.place-icon {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--portfolio-backgr-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefits-title {
    text-align: center;
  }
}

.benefits-text {
  line-height: 1.71;
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: flex;
  margin-left: -30px;
}

.work-item {
  width: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.work-desc {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  color: var(--second-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.team {
  background-color: var(--portfolio-backgr-color);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-list__item {
  width: 100%;
  background-color: var(--main-backgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .card-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.card-list__desc {
  padding: 30px 0;
}

.card-list__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card-list__prof {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.soc-list__item:first-child {
  margin-left: 0;
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--link-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}

.soc-list__icon {
  fill: currentColor;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .logo-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.logo-list__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .logo-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.logo-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-list__link:hover, .logo-list__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.logo-list__icon {
  fill: currentColor;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

.filter-btn {
  color: var(--title-text-color);
  background-color: var(--portfolio-backgr-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 60px) / 3);
  }
}

.desc-wrap {
  position: relative;
  overflow: hidden;
}

.product-desc {
  padding: 24px 24px;
  font-size: 16px;
  line-height: 1.56;
  position: absolute;
  top: 0;
  height: 100%;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 380px) {
  .product-desc {
    padding: 77px 24px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .product-desc {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .product-desc {
    padding: 63px 24px;
  }
}
.portfolio-link:hover .product-desc, .portfolio-link:focus .product-desc {
  transform: translateY(0);
}

.portfolio-desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-content {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-content, .portfolio-link:focus .portfolio-content {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  padding: 60px 0;
  background-color: var(--special-backgr-color);
}

.footer__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.contact-address__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo--color-light {
  color: var(--second-text-color);
}

.contact-address__location {
  font-style: normal;
  line-height: 1.71;
  color: var(--second-text-color);
  margin-bottom: 9px;
}

.connect-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.connect-list__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-list__link:hover, .connect-list__link:focus {
  color: var(--accent-color);
}

.action-title {
  margin-bottom: 20px;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.soc-list__link--color-light {
  color: var(--second-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.mail-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.mail-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.newsletter__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.newsletter__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: top left;
  width: 528px;
  min-height: 581px;
  background-color: var(--main-backgr-color);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-field + .modal-field {
  margin-top: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 35px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.17;
}

.icon-wrap {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
}

.input-check:not(:checked) + .label-check .icon-fill-check {
  display: none;
}

.input-check:checked + .label-check .icon-checkbox {
  display: none;
}

.input-check:focus + .label-check .icon-checkbox {
  fill: #188ce8;
  outline: 1px solid #000000;
}

.agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.button {
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */