.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits-item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.place-icon {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;

  background-color: var(--portfolio-backgr-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits-text {
  line-height: 1.71;
}
